/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --accent-color: #FF0070;
  --color-title: #DB00FF;
  --color-intro: #FF0070;
  --accent-color-footer: #FF0070;
  --text-color: #F1B2CE;
  --color-article: #000028;
 
  
  
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}