/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-inline-end: 10px;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 2px solid #000;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  bottom: 10px;
  border-right: none;
  border-top: none;
}


footer::before,
.footer::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 2px solid #000;
}


.footer::before {
  top: 20px;
  right: 10px; 
  border-left: none;
  border-bottom: none;
}


.footer::after {
  bottom: 20px;
  left: 10px;
  border-right: none;
  border-top: none;
}