
:root {
   

}



/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #FF8DCB;
  --accent-color: #FF8DCB;
  --color-title: #FFC2E6;
  --text-color: #353430;
  --color-article: #353430;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
