/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--background-color);
  background-image: var(--background-image);
  min-height: 100vb;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.rec-label {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 38px;
  align-self: center;
  font-size: var(--font-size);
  text-transform: uppercase;
  font-weight: var(--font-weight-s);
  color: var(--color-intro);
  line-height: 25px;
  font-family: var(--font-family), monospace;
}

.rec-label::after {
  content: "";
  position: absolute;
  inset-inline-start: 42px;
  inset-block-end: 8px;

  inline-size: 9px;
  block-size: 9px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--color-intro);
  box-shadow: 0 0 4px 2px var(--color-intro);
}

.header {
  display: grid;
  position: relative;
  background-image: var(--background-image);
  grid-template-rows: 1fr min-content 1fr;
  /* align-items: center; */
  min-height: 100vb;
  background-attachment: fixed;
  /* margin-inline-start: 10px; */
}

.header__theme-menu {
  display: grid;
  justify-self: end;
  align-self: center;
  margin-block-start: 7px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}

.header__theme-menu-item {
  display: flex;
  justify-content: center;
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  color: var(--color-intro);
  font-family: inherit;
  font-size: var(--font-size);
  line-height: 1;
  cursor: pointer;
  appearance: none;
  text-transform: lowercase;
  font-family: var(--font-family), monospace;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-intro);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--color-intro);
  height: 26px;
  width: 70px;
}

/*TITLE*/

.title__content {
  gap: 65px;
  font-family: var(--font-family), monospace;
  font-weight: var(--font-weight-l);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  background-position: center;
  width: 355px;
  margin-inline-start: 10px;
  /* padding-block-end: 1px; */
}

.title-decor {
  background-color: var(--accent-color);
  height: fit-content;
}

.content__intro {
  color: var(--color-article);
  font-family: var(--font-family), monospace;
  font-weight: var(--font-weight-l);
  font-size: var(--font-size);
  line-height: 23.4px;
}

.title-decor-header {
  position: relative;
  margin: 55px 10px 0px;
}

/*MAIN part*/

.main {
  padding-inline: 10px;
}

.main_part_section {
  display: flex;
  flex-direction: column;
  padding-block-start: 40px;
  gap: 18px;
}

.main_part_section:not(:first-of-type){
padding-block-start: 47px;
}
.question_text {
  /* display: grid;
  justify-items: start; */
  color: var(--color-intro);
  font-family: var(--font-family), monospace;
  font-weight: var(--font-weight-l);
  font-size: var(--font-size);
  line-height: 23.4px;
  /* padding: 30px 0px 20px 0px; */
}

/* .question_text:not(:first-of-type) {
  padding-top: 50px;
} */

.cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* justify-items: start;
  justify-self: end; */
}



.main_part_section_columns {
  /* padding-block-end: 10px; */
}

.main_part_section_concetrate {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* padding-block-start: 20px; */
}

.find {
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--text-color);
  text-decoration: none;
}

.find:hover {
  outline: 1px solid var(--text-color);
}

.find:focus {
  outline: none;
}

.find:focus-visible {
  border-bottom: 1px solid var(--text-color);
}

.card__title {
  color: var(---color-article);
  font-family: var(--font-family), monospace;
  font-weight: var(--font-weight-l);
  font-size: var(--font-size);
  line-height: 23.4px;
}

.article {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.title-decor-reg {
  font-family: var(--font-family), monospace;
  font-weight: var(--font-weight-s);
  font-size: var(--font-size);
  line-height: 23.4px;
  margin-block-start: 10px;

  /* padding-block-start: 8px; */
}

.card_content {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family), monospace;
}

.card__text {
  display: block;
  color: var(--text-color);
  font-family: var(--font-family), monospace;
  font-weight: var(--font-weight-s);
  font-size: var(--font-size);
  line-height: 23.4px;
}

/*КАРТОЧКИ*/
.photos {
  display: grid;
  gap: 10px;
  margin-block-start: 48px;
}

.photos-list {
  display: flex;
  flex-direction: column;
  /* padding-block-start: 50px; */
  gap: 10px;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*уголки*/

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 2px solid var(--color-intro);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

footer::before,
.footer::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 2px solid var(--color-intro);
}

.footer::before {
  top: 51px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.footer::after {
  bottom: 15px;
  inset-inline-start: 10px;
  border-right: none;
  border-top: none;
}

/*FOOTER*/

.footer {
  /* background-color: var(--background-color); */
  position: relative;
  /* padding: 20px;
  margin-top: 40px; */
  display: grid;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
   min-height: 667px;
}

/* .footer_class {
  position: relative;
  width: 100%;
  min-height: 667px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.footer-name {
  color: var(--color-title);
  text-shadow: 2px 2px 0 var(--accent-color-footer);
  font-family: var(--font-family), monospace;
  font-weight: var(--font-weight-l);
  font-size: 116px;
  line-height: 83%;
  /* padding-top: 50px;
  /* padding-block-end: 30px; */
  /* padding-top: 310px 13px;  */
}

/*ПЛАНШЕТНАЯ ВЕРСИЯ*/
@media (width >= 768px) {
  .header__theme-menu {
    /* margin-inline-end: 10px; */
    margin-block-start: 20px;
  }

  .title__content {
    width: 100%;
    /* margin-block-end: 12px; */
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title-decor-header {
    top: 108px; /************/
    /* right:10px; */
    max-inline-size: 364px;
    justify-self: end;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 30px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 10px;
  }

  .rec-label {
    inset-block-start: 20px;
    inset-inline-end: 38px;
  }

  /* .main{
    margin-inline-start: 20px;

  } */
  .main_part_section {
    padding-block-start: 60px;
    display: grid;
    gap: 20px;
    margin-inline-start: 10px;
  }

  .main_part_section:not(:first-of-type){
    padding-block-start: 70px;
  }
/* 
  .main_part_section.question_text{
    grid-column: 1;
    margin: 0;
  }

  .main_part_section.cards{
    grid-column: 2;
    display: block;
  }

  .main_part_section.article{
    margin-block-end: 20px;
  }
  
   .main_part_section.article:last-of-type{
    margin-block-end: 0px;
  }

  .main_part_decor{
    margin-block-start: 1px;
  }

  .main_part_decor.article{
    margin-inline-start: 5px;
  }

  .main_part_decor.cards{
    display: flex;
    grid-row: 2;
    grid-column: 1/3;
    flex-direction: column;
    gap: 1px;
  }
 */


  .question_text {
    width: 240px;
    padding-inline-start: 11px;
    padding-block-start: 0px;

  }
  .cards {
    /* margin-inline-start: 8px; */
    gap: 20px; 

    /* width: 240px; */
  }

  .card__text{
    margin-inline-start: 5px;
    /* padding-right: 10px; */
  }

 
  .card__title{
    margin-inline-start: 5px; 
  }

  
  /* .cards {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  } */


  /* .article{
    grid-column: 2;
  } */

  .photos{
    margin-block-start: 80px;
    margin-inline-start: 18px;
    gap: 20px;
  }

  .photos-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    /* margin-block-end: 20px; */
  }

  .card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
  }

  .card__image:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }

  .card__image:nth-child(2) {
    grid-column: 3;
    grid-row: 1/3;
  }
  .card__image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 /4;
  }
  .card__image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .card__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .main_part_section:nth-child(1) {
    display: grid;
    grid-template-columns: 1fr auto;
    
    /* margin-inline-start: 12px; */
  }

  .main_part_section:nth-child(2) {
    display: grid;
    margin-inline-start: 10px;  
     margin-block-start: 10px;
  }

  .main_part_section:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* margin-inline-end: 10px; */
    padding-block-start: 80px;
  }

  /* .question_text:nth-child(4) {
   gap: 20px; 
  } */

  .main_part_section.article:last-of-type{
    /* margin-block-end: 0px; */
    margin-block-start: 70px;
  }

  .footer_class{
    padding-block-start:113px;
    margin-inline-start: 20px;
  }
  .footer-name{

    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer::before {
  top: 76px;
  right: 10px;
  }

.footer::after {
  /* bottom: 15px; */
  inset-inline-start: 10px;
 
}

}


/*DESKTOP VERSION*/

@media (width >= 1024px) {
  .title-decor-header {
    max-inline-size: 491px;
    margin-block-start: 5px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-inline-start: 35px;
    /* align-items: start; */
    /* display: flex; */
    /* margin-block-end: 70px; */
  }

  .header__theme-menu-list {
    flex-direction: row;
    /* margin-inline-end:0px; */
    gap: 8.5px;
  }

  .title__content{
    margin-block-start: 100px;
  }

  .decorated-zone::after { /*!!!!!!!!!!!!!!!!!!!!!!*/
  
    /* bottom: 20px; */
    left: 30px;
  }

.main{
  padding-block-start: 100px;
}

  /* .card__text {
    padding-right: 5px;
  } */

  .card_content{
padding-inline-start: 5px;
  }

 
  .question_text{
width: 315px;
  }
  
  .main_part_section_columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    /* gap: 20px; */
    /* min-width: 315px; */
  }

  .main_part_section_columns .question_text {
    grid-column: 1 / -1;
    grid-row: 1;
    max-inline-size: 315px;
  }

  .main_part_section_columns .cards {
    grid-column: 1 / -1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 20px; */
    
  }

  .main_part_section_columns .article {
    grid-column: auto;
    grid-row: auto;
    /* margin-block-end: 10px; */
  }

  .main_part_section:not(:first-of-type){
    padding-block-start: 64px;
  }



  .footer-name {
    font-size: 157px;
    max-width: 576.84px;
  }
}
