.page {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--background-color);
  background-image: var(--background-image);
  min-height: 100vh;
  min-inline-size: 375px;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.rec-label {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 38px;
  align-self: center;
  font-size: var(--font-size);
  text-transform: uppercase;
  font-weight: var(--font-weight-s);
  color: var(--color-intro);
  line-height: 25px;
  font-family: var(--font-family), monospace;
}

.rec-label::after {
  content: "";
  position: absolute;
  inset-inline-start: 42px;
  inset-block-end: 8px;
  inline-size: 9px;
  block-size: 9px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--color-intro);
  box-shadow: 0 0 4px 2px var(--color-intro);
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  background-attachment: fixed;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  margin-block-start: 11px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  color: var(--color-intro);
  font-family: var(--font-family), monospace;
}

.header__theme-menu-item {
  display: flex;
  justify-content: center;
}

.header__theme-menu-button {
  background-color: transparent;
  line-height: 18px;
  padding: 1.5px 13px;
  color: var(--color-intro);
  font-family: inherit;
  font-size: var(--font-size);
  cursor: pointer;
  appearance: none;
  text-transform: lowercase;
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  border-color: var(--color-hover);
  height: 24px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: var(--color-intro);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--color-intro);
  height: 24px;
  width: 70px;
}

/*TITLE*/

.title__content {
  gap: 65px;
  font-family: var(--font-family), monospace;
  font-weight: var(--font-weight-l);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  background-position: center;
  margin-left: 10px;
  padding-block-start: 10px;
}

.title-decor {
  background-color: var(--accent-color);
  height: fit-content;
}

.content__intro {
  color: var(--color-article);
  font-family: var(--font-family), monospace;
  font-weight: var(--font-weight-l);
  font-size: var(--font-size);
  line-height: 23.4px;
}

.title-decor-header {
  position: relative;
  margin: 50px 10px 0px;
}

/*MAIN part*/

.main {
  padding-inline: 10px;
}

.main_part_section {
  display: flex;
  flex-direction: column;
  padding-block-start: 40px;
  gap: 17px;
}

.main_part_section:not(:first-of-type) {
  padding-block-start: 51px;
}

.question_text {
  color: var(--color-intro);
  font-family: var(--font-family), monospace;
  font-weight: var(--font-weight-l);
  font-size: var(--font-size);
  line-height: 23.4px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.article {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family), monospace;
  gap: 10px;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__text {
  display: block;
  color: var(--text-color);
  font-family: var(--font-family), monospace;
  font-weight: var(--font-weight-s);
  font-size: var(--font-size);
  line-height: 23.4px;
}

.card__title {
  color: var(--color-article);
  font-family: var(--font-family), monospace;
  font-weight: var(--font-weight-l);
  font-size: var(--font-size);
  line-height: 23.4px;
}

.card:first-of-type {
  padding-block-start: 10px;
}

.main_part_decor {
  gap: 18px;
}

.title-decor-reg {
  font-weight: var(--font-weight-s);
}

/*КАРТОЧКИ*/
.photos {
  display: grid;
  gap: 10px;
  margin-block-start: 46px;
}

.photos-list {
  display: flex;
  flex-direction: column;
  padding-block-end: 40px;
  gap: 10px;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*уголки*/

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start: 1px solid var(--color-intro);
  border-inline-end: 1px solid var(--color-intro);
}

.decorated-zone::after {
  inset-inline-start: 10px;
  inset-block-end: 10px;
  border-inline-start: 1px solid var(--color-intro);
  border-block-end: 1px solid var(--color-intro);
}

/* ССЫЛКА */
.find {
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--text-color);
  text-decoration: none;
}

.find:hover {
  outline: 1px solid var(--text-color);
}

.find:focus {
  outline: none;
}

.find:focus-visible {
  border-bottom: 1px solid var(--text-color);
}

/*FOOTER*/

.footer {
  position: relative;
  display: grid;
  place-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer-name {
  color: var(--color-title);
  text-shadow: 2px 2px 0 var(--accent-color-footer);
  font-family: var(--font-family), monospace;
  font-weight: var(--font-weight-l);
  font-size: 116px;
  line-height: 83%;
}

/*ПЛАНШЕТНАЯ ВЕРСИЯ*/
@media (width >= 768px) {
  .header__theme-menu {
    margin-block-start: 22px;
    margin-inline-end: 10px;
  }

  .title__content {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: 0px;
  }

  .title-decor-header {
    bottom: 14px;
    right: 10px;
    max-inline-size: 364px;
    justify-self: end;
    align-self: center;
    margin: 0px 10px 0px 0px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .rec-label {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }

  .main_part_section {
    padding-block-start: 60px;
    display: grid;
    gap: 20px;
  }

  .question_text {
    max-width: 240px;
    width: 100%;
    padding-inline-start: 11px;
  }

  .main_part_section:not(:first-of-type) {
    padding-block-start: 77px;
  }

  .cards {
    gap: 20px;
  }

  .card__text {
    width: auto;
    padding-inline-end: 15px;
  }

  .card__title {
    margin-inline-end: 10px;
  }

  .photos {
    margin-block-start: 80px;
    margin-inline-start: 9px;
    gap: 20px;
  }

  .photos-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding-inline-end: 10px;
  }

  .card__image:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }

  .card__image:nth-child(2) {
    grid-column: 3;
    grid-row: 1/3;
  }
  .card__image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 /4;
  }
  .card__image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .card__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .main_part_section:first-of-type {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .main_part_section_columns {
    display: grid;
    margin-block-start: 5px;
  }

  .main_part_decor {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .main_part_section.article:last-of-type {
    margin-block-start: 70px;
  }

  .footer {
    margin-block-start: 20px;
  }

  .footer-name {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/*DESKTOP VERSION*/

@media (width >= 1024px) {
  .title-decor-header {
    max-inline-size: 491px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-inline-start: 15px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 1px;
  }

  .question_text {
    max-width: 315px;
  }

  .card__text {
    width: 100%;
    padding-inline-end: 0px;
  }

  .main_part_section_columns {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    padding-inline-start: 7px;
  }

  .main_part_section_columns .question_text {
    grid-column: 1 / -1;
    grid-row: 1;
    max-inline-size: 315px;
  }

  .main_part_section_columns .cards {
    grid-column: 1 / -1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main_part_section_columns .article {
    grid-column: auto;
    grid-row: auto;
  }
}
