/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --accent-color: #FF0070;
  --color-title: #DB00FF;
  --color-intro: #FF0070;
  --accent-color-footer: #FF0070;
  --text-color: #F1B2CE;
  --color-article: #000028;
  --color-hover: #FF007066;
  --font-size: 18px;
  --font-family: 'IBM Plex Mono';
  --font-weight-s: 400;
  --font-weight-l: 700;
}

